
mixin calendar()
    .calendar
        .datepicker-here#datepicker_card(
            type='text'
            placeholder='ДД.ММ.ГГГГ'
            data-language='ru'
            todayButton='true'
            clearButton='true'
            range='true'
        )
