
mixin textField(action, text, Email, titleLeft, titleRight)
  .buttons__form_text_field 
    .buttons__form_text_field_header
      .buttons__text_field_header-left
        h3=titleLeft
      .buttons__text_field_header-right=titleRight
    form.form_text_field(action=action)
      input.input_text_field(
        type=text
        placeholder=Email
        )