
mixin masked_text_field(titleLeft)
    .buttons__form_text_field 
        .buttons__form_text_field_header
            .buttons__text_field_header-left=titleLeft
        form.form__dropdown#form_text_field(action=action)
            input.datepicker-here#my-datepicker(
                type='text'
                placeholder='ДД.ММ.ГГГГ'
                data-language='ru'
            )