
mixin range_slider()
    input.js-range-slider(
        type='text' 
        name='my_range' 
        value='' 
        data-type='double' 
        data-min='0' 
        data-max='17000' 
        data-from='5000' 
        data-to='10000' 
        data-grid='false'
    )
