
mixin pie_chart()
    .pie_chart
        .pie_chart__diagram
            svg(width='100%' height='100%' viewBox='0 0 34 34')
                circle.pie_chart__grade5(
                    cx='17' 
                    cy='17' 
                    r='15.91549430918954' 
                    fill='transparent' 
                    
                    stroke='#FFE39C' 
                    stroke-width='1.5'
                    stroke-dasharray='49 51'
                    stroke-dashoffset='75'
                )
                circle.pie_chart__grade4(
                    cx='17' 
                    cy='17' 
                    r='15.91549430918954' 
                    fill='transparent' 
                    stroke='#BC9CFF' 
                    stroke-width='1.5' 
                    stroke-dasharray='24 76' 
                    stroke-dashoffset='25'
                )
                circle.pie_chart__grade3(
                    cx='17' 
                    cy='17' 
                    r='15.91549430918954' 
                    fill='transparent' 
                    stroke='#6FCF97' 
                    stroke-width='1.5' 
                    stroke-dasharray='24 76' 
                    stroke-dashoffset='0'
                )
                g.pie_chart__g_text
                    text.pie_chart__chart_number(x='50%' y='50%') 260
                    text.pie_chart__chart_label(x='50%' y='50%') голосов
        .pie_chart__legend
            ul.pie_chart__list
                li.pie_chart__item.pie_chart__color1 Великолепно
                li.pie_chart__item.pie_chart__color2 Хорошо
                li.pie_chart__item.pie_chart__color3 Удовлетворительно
                li.pie_chart__item.pie_chart__color4 Разочарован
        
