
mixin information_block()
  .information_block
    - const db_info_bl_arr = [
    -    {info_bl_img: 'insert_emoticon', info_bl_tit: 'Комфорт', info_bl_cont: 'Шумопоглощающие стены'},
    -    {info_bl_img: 'location_city', info_bl_tit: 'Удобство', info_bl_cont: 'Окно в каждой из спален'},
    -    {info_bl_img: 'whatshot', info_bl_tit: 'Уют', info_bl_cont: 'Номер оснащён камином'},
    -]
    each val_info_bl in db_info_bl_arr
      .information_block__item
        .information_block__img 
          img(
            src=require(`./images/${val_info_bl.info_bl_img}.png`).default 
            alt=`${val_info_bl.info_bl_img}`
          )

        .information_block__text
          .information_block__title!=val_info_bl.info_bl_tit
          .information_block__content!=val_info_bl.info_bl_cont